{%extends 'delivery/body.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>accepted</title>
</head>
<body>
    {%block head%}
    <div class="pagetitle">
        <h1>Accepted Orders</h1>
        <nav>
          <ol class="breadcrumb">
  
            <li class="breadcrumb-item active">Dashboard/Accepted Orders</li>
          </ol>
        </nav>
      </div>
    {%endblock head%}
    {%block body%}
      <div class="card">
        {% if delivery_orders %}
      <h2>Picked Up Orders</h2>
      <ul>
        {% for order in delivery_orders %}
          <li>{{ order.order }} - Picked Up At: {{ order.picked_up_at }}</li><br>
          Address: {{order.order.address}} <br>{{order.order.address.locality}}, {{order.order.address.city}},{{order.order.address.pincode}}
          {{order.order.address.state}},<br>
          Phone: {{order.order.address.phone}}
          


        {% endfor %}
      </ul>
    {% else %}
      <p>No orders have been picked up yet.</p>
    {% endif %}
      </div>
    {%endblock%}
</body>
</html>