{%extends 'delivery/body.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>accepted</title>
</head>
<body>
    {%block head%}
    <div class="pagetitle">
        <h1>Accepted Orders</h1>
        <nav>
          <ol class="breadcrumb">
  
            <li class="breadcrumb-item active">Dashboard/Accepted Orders</li>
          </ol>
        </nav>
      </div>
    {%endblock head%}
    {%block body%}
      
    {%endblock%}
</body>
</html>