{% extends "delivery/body.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedules</title>
</head>
<body>
    {% block head %}
    <div class="pagetitle">
      <h1>Orders </h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">orders</li>

        </ol>
      </nav>
    </div>
    {% endblock head %}

    {% block body %}
      <div class="card">
        
      </div>
    {% endblock body %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>