{% extends "delivery/body.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedules</title>
</head>
<body>
    {% block head %}
    <div class="pagetitle">
      <h1>Orders </h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">orders</li>

        </ol>
      </nav>
    </div>
    {% endblock head %}

    {% block body %}
    
   
      {% for address in unique_addresses %}
      {% for order in order_products%}
      <div class="card">
           <h3 style="font-family: monospace; text-transform: uppercase;">{{order}},</h3> 
            <br>
              <h5 style="text-transform: capitalize;"> address: &nbsp;&nbsp;&nbsp;&nbsp;{{address}}, 
                <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{address.locality}} {{address.pincode}}</>
              </div>
          {%endfor%}
          <!-- {%for order,product in order_products.items %}
            {%if order.address == address %}
                {% for product in products%}
                    <li>{{product}}</li>
                  {%endfor%}
              {%endif%}
            {%endfor%} -->
            {% endfor %}

    {% endblock body %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>