{%extends "delivery/body.html"%}
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delivery profile</title>
</head>

<body>
  {% block head %}
  <div class="pagetitle">
    <h1>Profile</h1>
    <nav>
      <ol class="breadcrumb">

        <li class="breadcrumb-item active">Profile</li>
      </ol>
    </nav>
  </div>
  {% endblock %}
  {%block body%}
  <div class="col-lg-10 mb-5">
    <div class="card mt-4 border shadow">
      <div class="card-body pt-4 ">
        <form method="post" enctype="multipart/form-data">
          {%csrf_token%}
          <div class="row mb-1">
            <div class="col-sm-2 mt-2">
              <div class=".col-lg-4">
                First Name
              </div>
            </div>
            <div class="col-sm-10">
              <div class=".col-lg-8">
                <input type="text" class="form-control rounded-2" id="name" name="name" value="{{user.first_name}}"
                  placeholder="name" required><br><br>
              </div>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-sm-2  mt-2">
              <div class=".col-lg-4">
                Last Name
              </div>
            </div>
            <div class="col-sm-10">
              <div class=".col-lg-8">
                <input type="text" class="form-control" id="name" name="name" value="{{user.last_name}}"
                  placeholder="name" required><br><br>
              </div>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-sm-2  mt-2">
              <div class=".col-lg-4">
                Email
              </div>
            </div>
            <div class="col-sm-10">
              <div class=".col-lg-8">
                <input type="text" id="email" class="form-control" name="email" placeholder="{{i.email}}"
                  value="{{user.email}}" disabled><br><br>
              </div>
            </div>
          </div>

          <div class="row mb-1">
            <div class="col-sm-2  mt-2">
              <div class=".col-lg-4">
                Address
              </div>
            </div>
            <div class="col-sm-10">
              <div class=".col-lg-8">
                <input type="text" class="form-control" id="address" name="address"
                  value="{% if profile %}{{ profile.address }}{% endif %}" placeholder="Address" required><br><br>
              </div>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-sm-2  mt-2">
              <div class=".col-lg-4">
                Country
              </div>
            </div>
            <div class="col-sm-10">
              <div class=".col-lg-8">
                <input type="text" class="form-control" id="country" name="country"
                  value="{% if profile %}{{ profile.country }}{% endif %}" placeholder="Country" required><br><br>
              </div>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-sm-2  mt-2">
              <div class=".col-lg-4">
                state
              </div>
            </div>
            <div class="col-sm-10">
              <div class=".col-lg-8">
                <input type="text" class="form-control" id="state" name="state"
                  value="{% if profile %}{{ profile.state }}{% endif %}" placeholder="State" required><br><br>
              </div>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-sm-2  mt-2">
              <div class=".col-lg-4">
                District
              </div>
            </div>
            <div class="col-sm-10">
              <div class=".col-lg-8">
                <input type="text" class="form-control" id="district" name="district"
                  value="{% if profile %}{{ profile.district }}{% endif %}" placeholder="District" required><br><br>
              </div>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-sm-2  mt-2">
              <div class=".col-lg-4">
                Pincode
              </div>
            </div>
            <div class="col-sm-10">
              <div class=".col-lg-8">
                <input type="text" class="form-control" id="pincode" name="pincode"
                  value="{% if profile %}{{ profile.pincode }}{% endif %}" placeholder="Pincode" required><br><br>
              </div>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-sm-2  mt-2">
              <div class=".col-lg-4">
                PAN
              </div>
            </div>
            <div class="col-sm-10">
              <div class=".col-lg-8">
                <input type="text" class="form-control" id="pan" name="pan" value="{{data.pan}}" placeholder="pan"
                  required disabled><br><br>
              </div>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-sm-2 mt-2">
              <div class=".col-lg-4">
                Aadhar Number
              </div>
            </div>
            <div class="col-sm-10">
              <div class=".col-lg-8">
                <input type="text" class="form-control rounded-2" id="name" name="aadhar_num" value="aadhar_num"
                  placeholder="name" required><br><br>
              </div>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-sm-2 mt-2">
              <div class=".col-lg-4">
                License Number
              </div>
            </div>
            <div class="col-sm-10">
              <div class=".col-lg-8">
                <input type="text" class="form-control rounded-2" id="name" name="lic_num" value="lic_num"
                  placeholder="name" required><br><br>
              </div>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-sm-2 mt-2">
              <div class=".col-lg-4">
                RC Number
              </div>
            </div>
            <div class="col-sm-10">
              <div class=".col-lg-8">
                <input type="text" class="form-control rounded-2" id="name" name="rc_num" value="rc_num"
                  placeholder="name" required><br><br>
              </div>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-sm-2 mt-2">
              <div class=".col-lg-4">
                Bank
              </div>
            </div>
            <div class="col-sm-10">
              <div class=".col-lg-8">
                <input type="text" class="form-control rounded-2" id="name" name="bank" value="bank"
                  placeholder="name" required><br><br>
              </div>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-sm-2 mt-2">
              <div class=".col-lg-4">
                Account Number
              </div>
            </div>
            <div class="col-sm-10">
              <div class=".col-lg-8">
                <input type="text" class="form-control rounded-2" id="name" name="acc_num" value="acc_num"
                  placeholder="name" required><br><br>
              </div>
            </div>
          </div>

          <div class="row mb-1">
            <div class="col-sm-2 mt-2">
              <div class=".col-lg-4">
                IFSC Code
              </div>
            </div>
            <div class="col-sm-10">
              <div class=".col-lg-8">
                <input type="text" class="form-control rounded-2" id="name" name="ifsc" value="ifsc"
                  placeholder="name" required><br><br>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 mx-auto">
              <button type="submit" class="btn btn-primary active px-4">Update profile</button>
            </div>

          </div>
      </div>
      </form>
    </div>
  </div>
  </div>
  {%endblock%}

</body>

</html>