{% extends "delivery/body.html" %}
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delivery Index</title>
</head>
<body>
  {% block head %}
    <h1>Dashboard</h1>
  {% endblock head %}

  {% block body %}
  <a href="" class="col-lg-6 col-md-6 mb-4"  style="text-decoration: none;">
    <div class="card">
        <div class="card-body">
            <i class="bi bi-phone"></i>
            <h5 class="card-title">Total Orders</h5>
        </div>
    </div>
</a>
<a href="" class="col-lg-6 col-md-6 mb-4"  style="text-decoration: none;">
  <div class="card">
      <div class="card-body">
          <i class="bi bi-phone"></i>
          <h5 class="card-title">Accepted </h5>
      </div>
  </div>
</a>
<a href="" class="col-lg-6 col-md-6 mb-4"  style="text-decoration: none;">
  <div class="card">
      <div class="card-body">
          <i class="bi bi-phone"></i>
          <h5 class="card-title">Rejected </h5>
      </div>
  </div>
</a>
<a href="" class="col-lg-6 col-md-6 mb-4"  style="text-decoration: none;">
  <div class="card">
      <div class="card-body">
          <i class="bi bi-phone"></i>
          <h5 class="card-title">Replacement</h5>
      </div>
  </div>
</a>
<a href="" class="col-lg-6 col-md-6 mb-4 " style="text-decoration: none;">
  <div class="card">
      <div class="card-body">
          <i class="bi bi-phone"></i>
          <h5 class="card-title">Returned Order</h5>
      </div>
  </div>
</a>
<a href="" class="col-lg-6 col-md-6 mb-4"  style="text-decoration: none;">
  <div class="card">
      <div class="card-body">
          <i class="bi bi-phone"></i>
          <h5 class="card-title">Revenue</h5>
      </div>
  </div>
</a>
  {% endblock body %}
  {% block home %}
  <li class="nav-item">
    <a class="nav-link collapsed" href="http://127.0.0.1:8000/app2/delivery/index">
      <i class="bi bi-grid"></i>
      <span>Dashboard</span>
    </a>
  </li>
  {% endblock home %}
  {% block add_products %}
  <li class="nav-item">
    <a class="nav-link " href="index.html">
      <i class="bi bi-card-list"></i>
      <span>Add products</span>
    </a>
  </li>
  {% endblock add_products  %}

</body>
</html>