{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Important Docs</title>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
      
        <title>Delivery Main registration</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
      
        <!-- Favicons -->
        <link href='{% static "assets/img/favicon.png" %}' rel="icon">
        <link href='{% static "assets/img/apple-touch-icon.png" %}' rel="apple-touch-icon">
      
        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
      
        <!-- Vendor CSS Files -->
        <link href='{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
        <link href='{% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %}' rel="stylesheet">
        <link href='{% static "assets/vendor/boxicons/css/boxicons.min.css" %}' rel="stylesheet">
        <link href='{% static "assets/vendor/quill/quill.snow.css" %}' rel="stylesheet">
        <link href='{% static "assets/vendor/quill/quill.bubble.css" %}' rel="stylesheet">
        <link href='{% static "assets/vendor/remixicon/remixicon.css" %}' rel="stylesheet">
        <link href='{% static "assets/vendor/simple-datatables/style.css" %}' rel="stylesheet">
      
        <!-- Template Main CSS File -->
        <link href='{% static "assets/css/style.css" %}' rel="stylesheet">
</head>
<body>
    <!-- <form method="post" >
        {% csrf_token %}
        {%if request.user.is_authenticated and request.user.is_registered %}
        <p>You have already registered. wait for the confirmation</p>
        {%else%}
        <input type="text" name="rc_num" placeholder="Enter Rc bok number">
        <input type="text" name="lic_num" id="" placeholder="Enter license number">
        <input type="text" name="aadhar_num" id="" placeholder="Enter Aadhar number">
        <input type="text" name="pan" id="" placeholder="pan card number">
        <button type="submit">Submit</button>
        {%endif%}
    </form> -->
    <main>
        <div class="container">
    
          <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
    
                  <div class="d-flex justify-content-center py-4">
                    <a href="index.html" class="logo d-flex align-items-center w-auto">
                      <img src='{% static "assets/img/logo.png" %}' alt="">
                      <span class="d-none d-lg-block">Electrocom</span>
                    </a>
                  </div><!-- End Logo -->
    
                  <div class="card mb-3">
    
                    <div class="card-body">
    
                      <div class="pt-4 pb-2">
                        <h5 class="card-title text-center pb-0 fs-4">Ready to be agent</h5>
                        <p class="text-center small">Enter your personal details to Move forward</p>
                      </div>
                      {{ redirect_to_login_immediately }}
    
                      <form class="row g-3 needs-validation" method="post"  novalidate>
                        {% csrf_token %}
                        <div class="col-12">
                          <label for="yourName" class="form-label">Enter RC number of your vehicle </label>
                          <input type="text" name="rc_num" class="form-control" id="rc_num" required>
                          <div id="rc-error" class="invalid-feedback">Please, enter your RC number!</div>
                        </div>
    
                        <div class="col-12">
    
                          <label for="lic_num" class="form-label">Your License Number</label>
                          <input type="text" name="lic_num" class="form-control" id="lic_num" required>
                          <div id="license-error" class="invalid-feedback">Please enter a valid License Number!</div>
                        </div>
    
                        <div class="col-12">
                          <label for="aadhar_num" class="form-label">Aadhar_number</label>
                          <div class="input-group has-validation">
                            <input type="text" name="aadhar_num" class="form-control" id="aadhar_num" required>
                            <div id="aadhar-error" class="invalid-feedback">Please Enter your Aadhar number.</div>
                          </div>
                        </div>
    
                        <div class="col-12">
                          <label for="pan" class="form-label">PAN Number</label>
                          <input type="text" name="pan" class="form-control" id="pan" required>
                          <div id="pan-error" class="invalid-feedback">Please enter Pan card details!</div>
                        </div>
    
                        <div class="col-12">
                          <div class="form-check">
                            <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                            <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                            <div class="invalid-feedback">You must agree before submitting.</div>
                          </div>
                        </div>
                        <div class="col-12">
                          <button class="btn btn-primary w-100" type="submit">Submit</button>
                        </div>
                      </form>
    
                    </div>
                  </div>
    
                  <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                  </div>
    
                </div>
              </div>
            </div>
    
          </section>
    
        </div>
      </main><!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<script>
  document.addEventListener('DOMContentLoaded',function(){
    const licNumInput = document.getElementById('lic_num');
    const licenseError = document.getElementById('license-error');
    licNumInput.addEventListener('input',function(event){
      const inputValue  = event.target.value;
      const regex = /^[A-Za-z]{2}\d{2}\s\d{11}$/;
      if(!regex.test(inputValue)){
        licenseError.style.display = "block"
      }else{
        licenseError.style.display = "none"
      }
    });
    const rcNumInput = document.getElementById('rc_num');
    const rcInvalid = document.getElementById('rc-error');
    rcNumInput.addEventListener('input',function(event){
      const inputValue = event.target.value;
      const regex = /^[A-Za-z]{2}\d{2}[A-Za-z]{2}\d{4}$/;
      if(!regex.test(inputValue)){
        rcInvalid.style.display="block"
      }else{
        rcInvalid.style.display="none"
        console.log('hello')

      }
    });

    const AadharInput = document.getElementById('aadhar_num');
    const AadharError = document.getElementById('aadhar-error');
    AadharInput.addEventListener('input',function(event){
      const value = event.target.value;
      const regex = /^\d{4}\s\d{4}\s\d{4}$/;
      if(!regex.test(value)){
        AadharError.style.display="block"
      }
      else{
        AadharError.style.display="none";
      }
    });
    const PanInput=document.getElementById('pan')
    const PanError = document.getElementById('pan-error')
    PanInput.addEventListener('input',function(event){
      const value = event.target.value;
      const regex = /^[A-Za-z]{5}\d{4}[A-Za-z]{1}$/;
      if(!regex.test(value)){
        PanError.style.display="block";
      }
      else{
        PanError.style.display="none";
      }
    });
  });

</script>
  <!-- Vendor JS Files -->
  <script src='{% static "assets/vendor/apexcharts/apexcharts.min.js" %}'></script>
  <script src='{% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
  <script src='{% static "assets/vendor/chart.js/chart.umd.js" %}'></script>
  <script src='{% static "assets/vendor/echarts/echarts.min.js" %}'></script>
  <script src='{% static "assets/vendor/quill/quill.min.js" %}'></script>
  <script src='{% static "assets/vendor/simple-datatables/simple-datatables.js" %}'></script>
  <script src='{% static "assets/vendor/tinymce/tinymce.min.js" %}'></script>
  <script src='{% static "assets/vendor/php-email-form/validate.js" %}'></script>

  <!-- Template Main JS File -->
  <script src='{% static "assets/js/main.js" %}'></script>
</body>
</html>





  
