{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Profile</title>
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="{% static 'https://fonts.gstatic.com' %}" rel="preconnect">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' %}" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href='{% static "new_style/css/bootstrap.min.css"%} '>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Lato:wght@300;400;700&display=swap"
      rel="stylesheet">
    <!-- script
      ================================================== -->
    <script src='{% static "new_style/js/modernizr.js" %}'></script>
    <link rel="stylesheet" type="text/css" href='{% static "new_style/style.css"%}'>

</head>
<body>
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
          <a href="" class="logo d-flex align-items-center">
            <img src="{% static 'assets/img/logo.png' %} " alt="...">
            <span class="d-none d-lg-block">Electrcom</span>
          </a>
          <!-- <a href="{% url 'product_form' %}">Register Product</a> -->
          <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->
    
        <div class="search-bar">
          <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
          </form>
        </div><!-- End Search Bar -->
    
        <nav class="header-nav ms-auto">
          <ul class="d-flex align-items-center">
    
            <li class="nav-item d-block d-lg-none">
              <a class="nav-link nav-icon search-bar-toggle " href="#">
                <i class="bi bi-search"></i>
              </a>
            </li><!-- End Search Icon-->
    
            <li class="nav-item dropdown pe-3">
    
    
              <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                <img src="{%static 'assets/img/icon_user_2.png'%}" alt="Profile" class="rounded-circle">
                <span class="d-none d-md-block dropdown-toggle ps-2"></span>
              </a><!-- End Profile Iamge Icon -->
    
    
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                <li class="dropdown-header">
                  <h6></h6>
                  <span></span>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
    
                {% comment %} <li>
                  <a class="dropdown-item d-flex align-items-center">
                    <i class="bi bi-person"></i>
                    <span>My Profile</span>
                  </a>
                </li>
    
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Sign Out</span>
                  </a>
                </li> {% endcomment %}
    
              </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->
    
          </ul>
        </nav><!-- End Icons Navigation -->
    
      </header><!-- End Header -->
    
      <!-- ======= Sidebar ======= -->
      <aside id="sidebar" class="sidebar">
    
        <ul class="sidebar-nav" id="sidebar-nav">
    
          <li class="nav-heading">Pages</li>
          
          <li class="nav-item">
            <a class="nav-link collapsed" href="http://127.0.0.1:8000/app2/delivery/index">
              <i class="bi bi-card-list"></i>
              <span>Home</span>
            </a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link " href="index.html">
              <i class="bi bi-grid"></i>
              <span>Add products</span>
            </a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link collapsed"  href="{% url "delivery_profile" %}">
              <i class="bi bi-person"></i>
              <span>Profile</span>
            </a>
          </li><!-- End Profile Page Nav -->
    
          <li class="nav-item">
            <a class="nav-link collapsed" href="">
              <i class="bi bi-envelope"></i>
              <span>Contact</span>
            </a>
          </li>
    
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-journal-text"></i><span>Add Specifications</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
              <a href="{% url 'viewHeadset' %}">
                <i class="bi bi-circle"></i><span>View Headset</span>
              </a>
            </li>
            <li>
              <a href="{% url 'viewSpeaker' %}">
                <i class="bi bi-circle"></i><span>View Speaker</span>
              </a>
            </li>
            <li>
              <a href="{% url 'viewMobile' %}">
                <i class="bi bi-circle"></i><span>View Mobile</span>
              </a>
            </li>
            <li>
              <a href="{% url 'viewLaptop' %}">
                <i class="bi bi-circle"></i><span>View Laptop</span>
              </a>
            </li>
          </ul>
        </li>
    
         <!-- End Register Page Nav -->
    
          {% comment %} <li class="nav-item">
            <a class="nav-link collapsed" href="">
              <i class="bi bi-box-arrow-in-right"></i>
              <span>Login</span>
            </a>
          </li><!-- End Login Page Nav --> {% endcomment %}
        </ul>
    
      </aside><!-- End Sidebar-->
<div class="container mt-2">
  <div class="main-body">
   
    <div class="row col-lg-3 shadow" style="width: 500px; margin-left: 24rem; margin-top: 30px;">
        <div class="ms-4 text-center" style="margin-left: 250px; margin-bottom: 30px;">
            <h1 class="pt-4">Seller Profile</h1>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-2">

      </div>
      
 
    <div class="col-lg-10 mb-5">
        <div class="card mt-4 border shadow">
            <div class="card-body pt-4 ">
              <form method="post" enctype="multipart/form-data">
                {%csrf_token%}
                <div class="row mb-1">
                    <div class="col-sm-2 mt-2">
                        <div class=".col-lg-4">
                            First Name
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class=".col-lg-8">
                         <input type="text" class="form-control rounded-2" id="name" name="name" value="{{user.first_name}}" placeholder="name" required><br><br>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-sm-2  mt-2">
                        <div class=".col-lg-4">
                            Last Name
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class=".col-lg-8">
                            <input type="text" class="form-control" id="name" name="name" value="{{user.last_name}}" placeholder="name" required><br><br>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                  <div class="col-sm-2  mt-2">
                      <div class=".col-lg-4">
                          Email
                      </div>
                  </div>
                  <div class="col-sm-10">
                      <div class=".col-lg-8">
                        <input type="text" id="email" class="form-control" name="email" placeholder="{{i.email}}" value="{{user.email}}" disabled><br><br>
                      </div>
                  </div>
              </div>

              <div class="row mb-1">
                <div class="col-sm-2  mt-2">
                    <div class=".col-lg-4">
                        Address
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class=".col-lg-8">
                      <input type="text" class="form-control" id="address" name="address" value="{% if profile %}{{ profile.address }}{% endif %}" placeholder="Address" required><br><br>
                    </div>
                </div>
            </div>
            <div class="row mb-1">
              <div class="col-sm-2  mt-2">
                  <div class=".col-lg-4">
                      Country
                  </div>
              </div>
              <div class="col-sm-10">
                  <div class=".col-lg-8">
                    <input type="text" class="form-control" id="country" name="country" value="{% if profile %}{{ profile.country }}{% endif %}" placeholder="Country" required><br><br>
                  </div>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-sm-2  mt-2">
                <div class=".col-lg-4">
                  state
                </div>
              </div>
              <div class="col-sm-10">
                <div class=".col-lg-8">
                  <input type="text" class="form-control" id="state" name="state" value="{% if profile %}{{ profile.state }}{% endif %}" placeholder="State" required><br><br>
                </div>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-sm-2  mt-2">
                <div class=".col-lg-4">
                  District
                </div>
              </div>
              <div class="col-sm-10">
                <div class=".col-lg-8">
                  <input type="text" class="form-control" id="district" name="district" value="{% if profile %}{{ profile.district }}{% endif %}" placeholder="District" required><br><br>
                </div>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-sm-2  mt-2">
                <div class=".col-lg-4">
                  Pincode
                </div>
              </div>
              <div class="col-sm-10">
                <div class=".col-lg-8">
                  <input type="text" class="form-control" id="pincode" name="pincode" value="{% if profile %}{{ profile.pincode }}{% endif %}" placeholder="Pincode" required><br><br>
                    </div>
                </div>
                </div>
                <div class="row mb-1">
                    <div class="col-sm-2  mt-2">
                      <div class=".col-lg-4">
                        GST
                      </div>
                    </div>
                    <div class="col-sm-10">
                      <div class=".col-lg-8">
                        <input type="text" class="form-control" id="gst" name="gst" value="{{data.gst}}" placeholder="gst" required disabled><br><br>
                          </div>
                      </div>
                      </div>
                      <div class="row mb-1">
                        <div class="col-sm-2  mt-2">
                          <div class=".col-lg-4">
                            PAN
                          </div>
                        </div>
                        <div class="col-sm-10">
                          <div class=".col-lg-8">
                            <input type="text" class="form-control" id="pan" name="pan" value="{{data.pan}}" placeholder="pan" required disabled><br><br>
                              </div>
                          </div>
                          </div>
                <div class="row">
                    <div class="col-lg-3 mx-auto">
                <button type="submit" class="btn btn-primary active px-4">Update profile</button>
              </div>

            </div>
            </div>
            </form>
            </div>
            </div>
            </div>
            </div>
          </div>
          
    </div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %} "></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %} "></script>
      
    <script src='{% static "new_style/js/jquery-1.11.0.min.js" %}'></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript" src='{% static "new_style/js/bootstrap.bundle.min.js" %}'></script>
    <script type="text/javascript" src='{% static "new_style/js/plugins.js" %}'></script>
    <script type="text/javascript" src='{% static "new_style/js/script.js" %}'></script> 
  
</body>
</html>