{% extends "profile.html" %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address</title>
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="card">
            DELIVERY ADDRESS
            <form method="post" id="delivery-address-form">
                {% block address %}
                {%csrf_token%}
                <div class="row">
                    <div class="col-md-3 p-3 ">
                        <label for="name">name</label>
                    </div>
                    <div class="col-md-9 p-3 ">
                        <input type="text" name="name" placeholder="name" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 p-3 ">
                        <label for="phone">Phone</label>
                    </div>
                    <div class="col-md-9 p-3 ">
                        <input type="number" name="phone" placeholder="Phone Number" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 p-3 ">
                        <label for="pincode">Pincode</label>
                    </div>
                    <div class="col-md-9 p-3 ">
                        <input type="number" name="pincode" placeholder="pincode" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 p-3 ">
                        <label for="locality">locality</label>
                
                    </div>
                    <div class="col-md-9 p-3 ">
                        <input type="text" name="locality" placeholder="locality" class="form-control">
                
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 p-3 ">
                        <label for="address">address</label>
                
                    </div>
                    <div class="col-md-9 p-3 ">
                        <input type="text" name="address" placeholder="address" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 p-3 ">
                        <label for="city">city</label>
                
                    </div>
                    <div class="col-md-9 p-3 ">
                        <input type="text" name="city" placeholder="city" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 p-3 ">
                        <label for="state">state</label>
                
                    </div>
                    <div class="col-md-9 p-3 ">
                        <input type="text" name="state" placeholder="state" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <button type="submit">Add Address</button>
                    </div>
                </div>
                {% endblock address %}
            </form>
          </div>
        </div>
    </div>
</body>
</html>