{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Electrocom</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href='{% static "new_style/css/bootstrap.min.css"%} '>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Lato:wght@300;400;700&display=swap"
    rel="stylesheet">
  <!-- script
    ================================================== -->
  <script src='{% static "new_style/js/modernizr.js" %}'></script>
  <link rel="stylesheet" type="text/css" href='{% static "new_style/style.css"%}'>

</head>

<body>
  <header id="header" class="site-header header-scrolled position-fixed text-black bg-light-blue shadow pt-2">
    <nav id="header-nav" class="navbar navbar-expand-lg px-3 mb-2">
      <div class="container-fluid">
        <a class="navbar-brand" href="http://127.0.0.1:8000/">
          <img src='{% static "assets/img/logo2.png" %}' class="logo">
        </a>
        <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <svg class="navbar-icon">
            <use xlink:href="#navbar-icon"></use>
          </svg>
        </button>
          <div class="offcanvas-body">
            <ul id="navbar" class="navbar-nav text-uppercase justify-content-end align-items-center flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link me-4 active" href="http://127.0.0.1:8000/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-4" href="#company-services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-4 " href='{% url "allproducts" %}'>
                  Products
                </a>
                <!-- <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href='{% url "headset" %}'>Headset</a></li>
                  <li><a class="dropdown-item" href='{% url "speaker" %}'>Speakers</a></li>
                  <li><a class="dropdown-item" href='{% url "laptop" %}'>Laptop</a></li>
                  <li><a class="dropdown-item" href='{% url "mobile" %}'>Mobile Phones</a></li>
                </ul> -->
              </li>
              <li class="nav-item">
                <a class="nav-link me-4" href="">Watches</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-4" href="#yearly-sale">Sale</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-4" href="#latest-blog">Blog</a>
              </li>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link me-4 dropdown-toggle link-dark" data-bs-toggle="dropdown" href="#" role="button"
                  aria-expanded="false">Pages</a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="about.html" class="dropdown-item">About</a>
                  </li>
                  <li>
                    <a href="blog.html" class="dropdown-item">Blog</a>
                  </li>
                  <li>
                    <a href="shop.html" class="dropdown-item">Shop</a>
                  </li>
                  <li>
                    <a href="cart.html" class="dropdown-item">Cart</a>
                  </li>
                  <li>
                    <a href="checkout.html" class="dropdown-item">Checkout</a>
                  </li>
                  <li>
                    <a href="single-post.html" class="dropdown-item">Single Post</a>
                  </li>
                  <li>
                    <a href="single-product.html" class="dropdown-item">Single Product</a>
                  </li>
                  <li>
                    <a href="contact.html" class="dropdown-item">Contact</a>
                  </li>
                </ul>
              </li> -->
              <li class="nav-item">
                <div class="user-items ps-3">
                  <ul class="d-flex flex-row justify-content-end list-unstyled">
                    <div class="dropdown dropdown-center">
                      <a class="btn bi bi-search" href="#" role="button" data-bs-toggle="dropdown">
                      </a>
                    
                      <ul class="dropdown-menu dropdown-menu-end ps-1" style="width: 320px;">
                        <div class="input-group">
                        <form action="">
                        <div class="search-row d-flex flex-row ">
                          <div class="whitespace pe-2">
                            <li class="whitespace-nowrap" >
                              <input class="form-control border-end-0 border rounded-pill" name="q" style="width: 250px; margin-left: 10px;" type="text" placeholder="search" id="example-search-input">
                            </li> 
                          </div>
                          <div class="search-symbol ps-2 btn">
                            <div class="bi bi-search">

                            </div>
                          </div>
                           
                          </div>
                        </form>
                        </div>
                      </ul>
                    </div>

                      </a>
                    </li>
                    <li  class="pe-3 mt-2">
                      <a href="{%url 'cart' %}">
                        <i class="fa-solid fa-cart-shopping ms-3"></i>
                      </a>
                    </li>

                    <li>
                      <div class="dropdown pe-3 mt-2" >
                        <a href="" class="dropdown dropdown-toggle" data-bs-toggle="dropdown">
                          <i class="fa-solid fa-user ms-3 "></i>
                        </a>
                        {% if user.is_authenticated %}
                           {{user.first_name}}

                          <div class="dropdown-menu" style="margin-left: -90px;">
                            <a href='{% url "profile" %}' class="dropdown-item">Profile</a>
                            <a href="{% url 'sellerreg' %}" class="dropdown-item nav-linkd text-decoration-none">Become a seller</a>
                            <a href="{%url 'cart'%}" class="dropdown-item nav-linkd">Cart</a>
                            <a href="{%url 'wishlist' %}" class="dropdown-item nav-linkd ">Wishlist</a>
                            <a href="{% url 'userLogout' %}" class="dropdown-item nav-linkd">Logout</a>
                          </div>

                        {% else %}
                        <div class="dropdown-menu">
                          <a href='{%url "login"%}'>Login</a>
                        </div>
                        {% endif %}

                      </div>
                    </li>       
                      </div>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
 
  <script src='{% static "new_style/js/jquery-1.11.0.min.js" %}'></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <script type="text/javascript" src='{% static "new_style/js/bootstrap.bundle.min.js" %}'></script>
  <script type="text/javascript" src='{% static "new_style/js/plugins.js" %}'></script>
  <script type="text/javascript" src='{% static "new_style/js/script.js" %}'></script> 



</body>

</html>