{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Electrocom</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href='{% static "new_style/css/bootstrap.min.css"%} '>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Lato:wght@300;400;700&display=swap"
    rel="stylesheet">
  <!-- script
    ================================================== -->
  <script src='{% static "new_style/js/modernizr.js" %}'></script>
  <link rel="stylesheet" type="text/css" href='{% static "new_style/style.css"%}'>
</head>

<body>
  {% include 'header.html' %}

  <!-- <header id="header" class="site-header header-scrolled position-fixed text-black bg-light-blue">
    <nav id="header-nav" class="navbar navbar-expand-lg px-3 mb-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
          <img src='{% static "assets/img/logo2.png" %}' class="logo">
        </a>
        <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <svg class="navbar-icon">
            <use xlink:href="#navbar-icon"></use>
          </svg>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
          <div class="offcanvas-header px-4 pb-0">
            <a class="navbar-brand" href="index.html">
              <img src='{% static "new_style/images/main-logo.png" %}' class="logo">
            </a>
            <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"
              data-bs-target="#bdNavbar"></button>
          </div>
          <div class="offcanvas-body">
            <ul id="navbar" class="navbar-nav text-uppercase justify-content-end align-items-center flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link me-4 active" href="">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-4" href="#company-services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-4 " href='{% url "allproducts" %}'>
                  Products
                </a> -->
                <!-- <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href='{% url "headset" %}'>Headset</a></li>
                  <li><a class="dropdown-item" href='{% url "speaker" %}'>Speakers</a></li>
                  <li><a class="dropdown-item" href='{% url "laptop" %}'>Laptop</a></li>
                  <li><a class="dropdown-item" href='{% url "mobile" %}'>Mobile Phones</a></li>
                </ul> -->
              <!-- </li>
              <li class="nav-item">
                <a class="nav-link me-4" href="#smart-watches">Headphones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-4" href="#yearly-sale">Sale</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-4" href="#latest-blog">Blog</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link me-4 dropdown-toggle link-dark" data-bs-toggle="dropdown" href="#" role="button"
                  aria-expanded="false">Pages</a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="about.html" class="dropdown-item">About</a>
                  </li>
                  <li>
                    <a href="blog.html" class="dropdown-item">Blog</a>
                  </li>
                  <li>
                    <a href="shop.html" class="dropdown-item">Shop</a>
                  </li>
                  <li>
                    <a href="cart.html" class="dropdown-item">Cart</a>
                  </li>
                  <li>
                    <a href="checkout.html" class="dropdown-item">Checkout</a>
                  </li>
                  <li>
                    <a href="single-post.html" class="dropdown-item">Single Post</a>
                  </li>
                  <li>
                    <a href="single-product.html" class="dropdown-item">Single Product</a>
                  </li>
                  <li>
                    <a href="contact.html" class="dropdown-item">Contact</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <div class="user-items ps-5">
                  <ul class="d-flex justify-content-end list-unstyled">
                    <li class="search-item pe-3">
                      <a href="#" class="search-button">
                        <svg class="search">
                          <use xlink:href="#search"></use>
                        </svg>
                      </a>
                    </li>
                    <li class="pe-3">
                      <a href="#">
                        <svg class="user">
                          <use xlink:href="#user"></use>
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="cart.html">
                        <svg class="cart">
                          <use xlink:href="#cart"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header> -->
  <section id="billboard" class="position overflow-hidden" style="background-color:#999392 ;">
    <div class="swiper main-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="container">
            <div class="row d-flex align-items-center">
              <div class="col-md-6">
                <div class="banner-content">
                  <h1 class="display-2 text-uppercase text-dark pb-5">Your Products Are Great.</h1>
                  <a href="shop.html" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Shop Product</a>
                </div>
              </div>
              <div class="col-md-5">
                <div class="image-holder mt-4">
                  <img src='{% static "new_style/images/insta-item4.jpg" %}' alt="banner">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
              <div class="col-md-6">
                <div class="banner-content">
                  <h1 class="display-2 text-uppercase text-dark pb-5">Technology Hack You Won't Get</h1>
                  <a href="shop.html" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Shop Product</a>
                </div>
              </div>
              <div class="col-md-5">
                <div class="image-holder">
                  <img src='{% static "new_style/images/banner-image.png" %}' alt="banner">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-icon swiper-arrow swiper-arrow-prev">
      <svg class="chevron-left">
        <use xlink:href="#chevron-left" />
      </svg>
    </div>
    <div class="swiper-icon swiper-arrow swiper-arrow-next">
      <svg class="chevron-right">
        <use xlink:href="#chevron-right" />
      </svg>
    </div>
  </section>
  <section id="company-services" class="padding-large">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 p-3 border rounded shadow">
          <div class="icon-box d-flex">
            <div class="icon-box-icon pe-3 pb-3">
              <svg class="cart-outline">
                <use xlink:href="#cart-outline" />
              </svg>
            </div>
            <div class="icon-box-content">
              <h3 class="card-title text-uppercase text-dark">Free delivery</h3>
              <p>Consectetur adipi elit lorem ipsum dolor sit amet.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 p-3 border rounded shadow">
          <div class="icon-box d-flex">
            <div class="icon-box-icon pe-3 pb-3">
              <svg class="quality">
                <use xlink:href="#quality" />
              </svg>
            </div>
            <div class="icon-box-content">
              <h3 class="card-title text-uppercase text-dark">Quality guarantee</h3>
              <p>Dolor sit amet orem ipsu mcons ectetur adipi elit.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 p-3 border rounded shadow">
          <div class="icon-box d-flex">
            <div class="icon-box-icon pe-3 pb-3">
              <svg class="price-tag">
                <use xlink:href="#price-tag" />
              </svg>
            </div>
            <div class="icon-box-content">
              <h3 class="card-title text-uppercase text-dark">Daily offers</h3>
              <p>Amet consectetur adipi elit loreme ipsum dolor sit.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 p-3 border rounded shadow">
          <div class="icon-box d-flex">
            <div class="icon-box-icon pe-3 pb-3">
              <svg class="shield-plus">
                <use xlink:href="#shield-plus" />
              </svg>
            </div>
            <div class="icon-box-content">
              <h3 class="card-title text-uppercase text-dark">100% secure payment</h3>
              <p>Rem Lopsum dolor sit amet, consectetur adipi elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="mobile-products" class="product-store padding-large position-relative">
    <div class="container ">
      <div class="row">
        <div class="display-header d-flex justify-content-between pb-3">
          <h2 class="display-7 text-dark text-uppercase">Mobile Products</h2>
          <div class="btn-right">
            <a href="shop.html" class="btn btn-medium btn-normal text-uppercase">Go to Shop</a>
          </div>
        </div>
        <div class="swiper product-watch-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide border shadow p-2 rounded">
              <div class="product-card position-relative">
                <div class="image-holder">
                  <img src='{% static "new_style/images/product-item1.jpg" %}' alt="product-item" class="img-fluid ">
                </div>
                <div class="cart-concern position-absolute">
                  <div class="cart-button d-flex">
                    <a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline">
                        <use xlink:href="#cart-outline"></use>
                      </svg></a>
                  </div>
                </div>
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="#">Iphone 10</a>
                  </h3>
                  <span class="item-price text-primary">$980</span>
                </div>
              </div>
            </div>
            <div class="swiper-slide border shadow p-2 rounded">
              <div class="product-card position-relative">
                <div class="image-holder">
                  <img src='{% static "new_style/images/product-item2.jpg" %}' alt="product-item" class="img-fluid">
                </div>
                <div class="cart-concern position-absolute">
                  <div class="cart-button d-flex">
                    <a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline">
                        <use xlink:href="#cart-outline"></use>
                      </svg></a>
                  </div>
                </div>
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="#">Iphone 11</a>
                  </h3>
                  <span class="item-price text-primary">$1100</span>
                </div>
              </div>
            </div>
            <div class="swiper-slide border shadow p-2 rounded">
              <div class="product-card position-relative">
                <div class="image-holder">
                  <img src='{% static "new_style/images/product-item3.jpg"  %}' alt="product-item" class="img-fluid">
                </div>
                <div class="cart-concern position-absolute">
                  <div class="cart-button d-flex">
                    <a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline">
                        <use xlink:href="#cart-outline"></use>
                      </svg></a>
                  </div>
                </div>
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="#">Iphone 8</a>
                  </h3>
                  <span class="item-price text-primary">$780</span>
                </div>
              </div>
            </div>
            <div class="swiper-slide border shadow p-2 rounded">
              <div class="product-card position-relative">
                <div class="image-holder">
                  <img src='{% static "new_style/images/product-item4.jpg" %}' alt="product-item" class="img-fluid">
                </div>
                <div class="cart-concern position-absolute">
                  <div class="cart-button d-flex">
                    <a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline">
                        <use xlink:href="#cart-outline"></use>
                      </svg></a>
                  </div>
                </div>
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="#">Iphone 13</a>
                  </h3>
                  <span class="item-price text-primary">$1500</span>
                </div>
              </div>
            </div>
            <div class="swiper-slide border shadow p-2 rounded">
              <div class="product-card position-relative">
                <div class="image-holder">
                  <img src='{% static "new_style/images/product-item5.jpg" %}' alt="product-item" class="img-fluid">
                </div>
                <div class="cart-concern position-absolute">
                  <div class="cart-button d-flex">
                    <a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline">
                        <use xlink:href="#cart-outline"></use>
                      </svg></a>
                  </div>
                </div>
                <div class="card-detail d-flex justify-content-between pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="#">Iphone 12</a>
                  </h3>
                  <span class="item-price text-primary">$1300</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
  </section>
  
  <section id="headphones" class="product-store padding-large position-relative">
    <div class="container">
      <div class="row">
        <div class="display-header d-flex justify-content-between pb-3">
          <h2 class="display-7 text-dark text-uppercase">Headphones</h2>
          <div class="btn-right">
            <a href="shop.html" class="btn btn-medium btn-normal text-uppercase">Go to Shop</a>
          </div>
        </div>
        <div class="swiper product-watch-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide border shadow p-2 rounded">
              <div class="product-card position-relative">
                <div class="image-holder">
                  <img src='{% static "Headset/boat_airpodes_131.webp" %}' alt="product-item" class="img-fluid">
                </div>
                <div class="cart-concern position-absolute">
                  <div class="cart-button d-flex">
                    <a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline">
                        <use xlink:href="#cart-outline"></use>
                      </svg></a>
                  </div>
                </div>
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="#">Boat airpodes 131</a>
                  </h3>
                  <span class="item-price text-primary">Rs 6000</span>
                </div>
              </div>
            </div>
            <div class="swiper-slide  border shadow p-2 rounded">
              <div class="product-card position-relative">
                <div class="image-holder">
                  <img src='{% static "Headset/JBL_Tune_660NC.webp" %}' alt="product-item" class="img-fluid">
                </div>
                <div class="cart-concern position-absolute">
                  <div class="cart-button d-flex">
                    <a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline">
                        <use xlink:href="#cart-outline"></use>
                      </svg></a>
                  </div>
                </div>
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="#">JBL Tune 660NC</a>
                  </h3>
                  <span class="item-price text-primary">Rs 6800</span>
                </div>
              </div>
            </div>
            <div class="swiper-slide  border shadow p-2 rounded">
              <div class="product-card position-relative">
                <div class="image-holder">
                  <img src='{% static "Headset/Sony_WH-CH720N.jpg"  %}' alt="product-item" class="img-fluid">
                </div>
                <div class="cart-concern position-absolute">
                  <div class="cart-button d-flex">
                    <a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline">
                        <use xlink:href="#cart-outline"></use>
                      </svg></a>
                  </div>
                </div>
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="#">Sony WH CH720N</a>
                  </h3>
                  <span class="item-price text-primary">Rs 7650</span>
                </div>
              </div>
            </div>
            <div class="swiper-slide border shadow p-2 rounded">
              <div class="product-card position-relative">
                <div class="image-holder">
                  <img src='{% static "new_style/images/product-item9.jpg" %}' alt="product-item" class="img-fluid">
                </div>
                <div class="cart-concern position-absolute">
                  <div class="cart-button d-flex">
                    <a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline">
                        <use xlink:href="#cart-outline"></use>
                      </svg></a>
                  </div>
                </div>
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="#">black watch</a>
                  </h3>
                  <span class="item-price text-primary">$650</span>
                </div>
              </div>
            </div>
            <div class="swiper-slide  border shadow p-2 rounded">
              <div class="product-card position-relative">
                <div class="image-holder">
                  <img src='{% static "new_style/images/product-item10.jpg" %}' alt="product-item" class="img-fluid">
                </div>
                <div class="cart-concern position-absolute">
                  <div class="cart-button d-flex">
                    <a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline">
                        <use xlink:href="#cart-outline"></use>
                      </svg></a>
                  </div>
                </div>
                <div class="card-detail d-flex justify-content-between pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="#">black watch</a>
                  </h3>
                  <span class="item-price text-primary">$750</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
  </section>
  <section id="yearly-sale" class="bg-light-blue overflow-hidden mt-3 pt-2" style="background-color: #90AEB7;">
    <div class="row d-flex flex-wrap align-items-center">
      <div class="col-md-6 col-sm-12">
        <div class="text-content offset-4 padding-medium">
          <h3>10% off</h3>
          <h2 class="display-2 pb-3 text-uppercase text-dark">New year sale</h2>
          <a href="shop.html" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Shop Sale</a>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
         <img src='{% static "new_style/images/R (1).png" %}' alt="" class="mt-4" width="500px"> 
      </div>
    </div>
  </section>
  <section id="latest-blog" class="padding-large">
    <div class="container">
      <div class="row">
        <div class="display-header d-flex justify-content-between pb-3">
          <h2 class="display-7 text-dark text-uppercase">Latest Posts</h2>
          <div class="btn-right">
            <a href="blog.html" class="btn btn-medium btn-normal text-uppercase">Read Blog</a>
          </div>
        </div>
        <div class="post-grid d-flex flex-wrap justify-content-between">
          <div class="col-lg-4 col-sm-12">
            <div class="card border-none me-3">
              <div class="card-image">
                <img src='{% static "new_style/images/post-item1.jpg" %}' alt="hshdaf" class="img-fluidnew">
              </div>
            </div>
            <div class="card-body text-uppercase">
              <div class="card-meta text-muted">
                <span class="meta-date">feb 22, 2023</span>
                <span class="meta-category">- Gadgets</span>
              </div>
              <h3 class="card-title">
                <a href="#">Get some cool gadgets in 2023</a>
              </h3>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12">
            <div class="card border-none me-3">
              <div class="card-image">
                <img src='{% static "new_style/images/post-item2.jpg" %}' alt="" class="img-fluidnew">
              </div>
            </div>
            <div class="card-body text-uppercase">
              <div class="card-meta text-muted">
                <span class="meta-date">feb 25, 2023</span>
                <span class="meta-category">- Technology</span>
              </div>
              <h3 class="card-title">
                <a href="#">Technology Hack You Won't Get</a>
              </h3>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12">
            <div class="card border-none me-3">
              <div class="card-image">
                <img src='{% static "new_style/images/post-item3.jpg"%}' alt="" class="img-fluidnew">
              </div>
            </div>
            <div class="card-body text-uppercase">
              <div class="card-meta text-muted">
                <span class="meta-date">feb 22, 2023</span>
                <span class="meta-category">- Camera</span>
              </div>
              <h3 class="card-title">
                <a href="#">Top 10 Small Camera In The World</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="testimonials" class="position-relative">
    <div class="container">
      <div class="row">
        <div class="review-content position-relative">
          <div class="swiper-icon swiper-arrow swiper-arrow-prev position-absolute d-flex align-items-center">
            <svg class="chevron-left">
              <use xlink:href="#chevron-left" />
            </svg>
          </div>
          <div class="swiper testimonial-swiper">
            <div class="quotation text-center">
              <svg class="quote">
                <use xlink:href="#quote" />
              </svg>
            </div>
            <div class="swiper-wrapper ">
              <div class="swiper-slide text-center d-flex justify-content-center">
                <div class="review-item col-md-10 shadow bg-light">
                  <i class="icon icon-review"></i>
                  <blockquote>“Tempus oncu enim pellen tesque este pretium in neque, elit morbi sagittis lorem habi
                    mattis Pellen tesque pretium feugiat vel morbi suspen dise sagittis lorem habi tasse morbi.”
                  </blockquote>
                  <div class="rating">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-half">
                      <use xlink:href="#star-half"></use>
                    </svg>
                    <svg class="star star-empty">
                      <use xlink:href="#star-empty"></use>
                    </svg>
                  </div>
                  <div class="author-detail">
                    <div class="name text-dark text-uppercase pt-2">Emma Chamberlin</div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide text-center d-flex justify-content-center">
                <div class="review-item col-md-10 shadow bg-light">
                  <i class="icon icon-review"></i>
                  <blockquote>“A blog is a digital publication that can complement a website or exist independently. A
                    blog may include articles, short posts, listicles, infographics, videos, and other digital content.”
                  </blockquote>
                  <div class="rating">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-half">
                      <use xlink:href="#star-half"></use>
                    </svg>
                    <svg class="star star-empty">
                      <use xlink:href="#star-empty"></use>
                    </svg>
                  </div>
                  <div class="author-detail">
                    <div class="name text-dark text-uppercase pt-2">Jennie Rose</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-icon swiper-arrow swiper-arrow-next position-absolute d-flex align-items-center">
            <svg class="chevron-right">
              <use xlink:href="#chevron-right" />
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </section>
  <section id="subscribe" class="container-grid padding-large position-relative overflow-hidden">
    <div class="container">
      <div class="row">
        <div
          class="subscribe-content bg-dark d-flex flex-wrap justify-content-center align-items-center padding-medium">
          <div class="col-md-6 col-sm-12">
            <div class="display-header pe-3">
              <h2 class="display-7 text-uppercase text-light">Subscribe Us Now</h2>
              <p>Get latest news, updates and deals directly mailed to your inbox.</p>
            </div>
          </div>
          <div class="col-md-5 col-sm-12">
            <form class="subscription-form validate">
              <div class="input-group flex-wrap">
                <input class="form-control btn-rounded-none" type="email" name="EMAIL"
                  placeholder="Your email address here" required="">
                <button class="btn btn-medium btn-primary text-uppercase btn-rounded-none" type="submit"
                  name="subscribe">Subscribe</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="instagram" class="padding-large overflow-hidden no-padding-top" style="background-color: #B4C8D0;">
    <div class="container">
      <div class="row">
        <div class="display-header text-uppercase text-dark text-center pb-3 mt-4">
          <h2 class="display-7">Shop Our Insta</h2>
        </div>
        <div class="d-flex flex-wrap">
          <figure class="instagram-item pe-2">
            <a href="https://templatesjungle.com/" class="image-link position-relative">
              <img src='{% static "new_style/images/insta-item1.jpg" %}' alt="instagram" class="insta-image">
              <div class="icon-overlay position-absolute d-flex justify-content-center">
                <svg class="instagram">
                  <use xlink:href="#instagram"></use>
                </svg>
              </div>
            </a>
          </figure>
          <figure class="instagram-item pe-2">
            <a href="https://templatesjungle.com/" class="image-link position-relative">
              <img src='{% static "new_style/images/insta-item2.jpg" %}' alt="instagram" class="insta-image">
              <div class="icon-overlay position-absolute d-flex justify-content-center">
                <svg class="instagram">
                  <use xlink:href="#instagram"></use>
                </svg>
              </div>
            </a>
          </figure>
          <figure class="instagram-item pe-2">
            <a href="https://templatesjungle.com/" class="image-link position-relative">
              <img src='{% static "new_style/images/insta-item3.jpg" %}' alt="instagram" class="insta-image">
              <div class="icon-overlay position-absolute d-flex justify-content-center">
                <svg class="instagram">
                  <use xlink:href="#instagram"></use>
                </svg>
              </div>
            </a>
          </figure>
          <figure class="instagram-item pe-2">
            <a href="https://templatesjungle.com/" class="image-link position-relative">
              <img src='{% static "new_style/images/insta-item4.jpg" %}' alt="instagram" class="insta-image">
              <div class="icon-overlay position-absolute d-flex justify-content-center">
                <svg class="instagram">
                  <use xlink:href="#instagram"></use>
                </svg>
              </div>
            </a>
          </figure>
          <figure class="instagram-item pe-2">
            <a href="https://templatesjungle.com/" class="image-link position-relative">
              <img src='{% static "new_style/images/insta-item5.jpg" %}' alt="instagram" class="insta-image">
              <div class="icon-overlay position-absolute d-flex justify-content-center">
                <svg class="instagram">
                  <use xlink:href="#instagram"></use>
                </svg>
              </div>
            </a>
          </figure>
        </div>
      </div>
    </div>
  </section>
  {%include 'footer.html' %}
  <!-- <footer id="footer" class="overflow-hidden bg-black text-white mt-2">
    <div class="container "> 
      <div class="row mt-5">
        <div class="footer-top-area">
          <div class="row d-flex flex-wrap justify-content-between">
            <div class="col-lg-3 col-sm-6 pb-3">
              <div class="footer-menu">
                <img src='{% static "assets/img/logo2.png" %}' alt="logo" width="45%" class="mt-3">
                <p class="text-white">Nisi, purus vitae, ultrices nunc. Sit ac sit suscipit hendrerit. Gravida massa volutpat aenean odio
                  erat nullam fringilla.</p>
                <div class="social-links">
                  <ul class="d-flex list-unstyled">
                    <li>
                      <a href="#">
                        <svg class="facebook">
                          <use xlink:href="#facebook" />
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <svg class="instagram">
                          <use xlink:href="#instagram" />
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <svg class="twitter">
                          <use xlink:href="#twitter" />
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <svg class="linkedin">
                          <use xlink:href="#linkedin" />
                        </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <svg class="youtube">
                          <use xlink:href="#youtube" />
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 pb-3">
              <div class="footer-menu text-uppercase text-white">
                <h5 class="widget-title pb-2">Quick Links</h5>
                <ul class="menu-list list-unstyled text-uppercase " >
                  <li class="menu-item pb-2">
                    <a href="#" style="color:white">Home</a>
                  </li>
                  <li class="menu-item pb-2">
                    <a href="#" style="color:white">About</a>
                  </li>
                  <li class="menu-item pb-2">
                    <a href="#"  style="color:white">Shop</a>
                  </li>
                  <li class="menu-item pb-2">
                    <a href="#" style="color:white">Blogs</a>
                  </li>
                  <li class="menu-item pb-2">
                    <a href="#" style="color:white">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 pb-3">
              <div class="footer-menu text-uppercase">
                <h5 class="widget-title pb-2">Help & Info Help</h5>
                <ul class="menu-list list-unstyled">
                  <li class="menu-item pb-2">
                    <a href="#" style="color:white">Track Your Order</a>
                  </li>
                  <li class="menu-item pb-2">
                    <a href="#" style="color:white">Returns Policies</a>
                  </li>
                  <li class="menu-item pb-2">
                    <a href="#" style="color:white">Shipping + Delivery</a>
                  </li>
                  <li class="menu-item pb-2">
                    <a href="#" style="color:white">Contact Us</a>
                  </li>
                  <li class="menu-item pb-2">
                    <a href="#" style="color:white">Faqs</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 pb-3">
              <div class="footer-menu contact-item">
                <h5 class="widget-title text-uppercase pb-2">Contact Us</h5>
                <p  style="color:white">Do you have any queries or suggestions? <a  style="color:white" href="mailto:">yourinfo@gmail.com</a>
                </p>
                <p style="color:white">If you need support? Just give us a call. <a style="color:white" href="">+91 944 118 7633</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </footer>
  <div id="footer-bottom" class=" bg-black">
    <div class="container">
      <div class="row d-flex flex-wrap justify-content-between">
        <div class="col-md-4 col-sm-6">
          <div class="Shipping d-flex">
            <p style="color:white">We ship with:</p>
            <div class="card-wrap ps-2">
              <img src='{% static "new_style/images/dhl.png" %}' alt="visa">
              <img src='{% static "new_style/images/shippingcard.png" %}' alt="mastercard">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="payment-method d-flex">
            <p  style="color:white">Payment options:</p>
            <div class="card-wrap ps-2">
              <img src='{% static "new_style/images/visa.jpg" %}' alt="visa">
              <img src='{% static "new_style/images/mastercard.jpg" %}' alt="mastercard">
              <img src='{% static "new_style/images/paypal.jpg" %}' alt="paypal">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="copyright">
            <p style="color:white">© Copyright 2024 Electrocom. <br />
               Design by <a  style="color:white" href="">Albert Devasia</a>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <script src='{% static "new_style/js/jquery-1.11.0.min.js" %}'></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <script type="text/javascript" src='{% static "new_style/js/bootstrap.bundle.min.js" %}'></script>
  <script type="text/javascript" src='{% static "new_style/js/plugins.js" %}'></script>
  <script type="text/javascript" src='{% static "new_style/js/script.js" %}'></script> 

 

</body>

</html>